@import "tailwindcss";

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #e7cbcb;
  --color-background-light: #f7f6f6;
  --color-background-dark: #1d1515;
  --font-display: "Epilogue", sans-serif;
  --font-sans: var(--font-source-sans-3), ui-sans-serif, system-ui, sans-serif;
  --radius-xl: 3rem;
}

:root {
  --color-dusty-pink: #c2a1ae;
  --color-dusty-blue: #a1aec2;
  --color-campfire: #b1522a;
  --color-midnight-ocean: #1b2f52;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  color-scheme: dark;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

@layer components {
  .btn-primary-lift {
    @apply inline-block bg-(--color-dusty-pink) text-white px-[20px] py-[10px] rounded-[10px] font-bold duration-300 ease-in-out hover:bg-(--color-dusty-blue) hover:shadow-lg;
    transition-property: background-color, box-shadow;
  }

  .filter-btn {
    @apply flex items-center gap-2 px-5 py-2.5 rounded-full bg-white dark:bg-slate-800 border border-primary/20 shadow-sm hover:border-primary transition-all;
  }
}